In [1]:
import pandas as pd

#### Criando dados

In [ ]:
# Há 2 objetos no pandas
# Dataframes e Series

# A forma padrão de criar dataframes é através de dicionários, com listas como os valores das chaves
# 'index' é o "nome" dado às linhas (o padrão é usar inteiros)
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

In [ ]:
# Uma serie é uma lista de valores
# Em essência, é a coluna de um dataframe
# Entender um Dataframe como um conjunto de Series

# pode ser construída com uma lista
# pd.Series([1, 2, 3, 4, 5])

# como coluna de um dataframe, posso atribuir valores ao índice
# mas não há nome de coluna, apenas um nome geral definido pelo parâmetro 'name'
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

0    1
1    2
2    3
3    4
4    5
dtype: int64

#### Lendo arquivos

In [ ]:
# lendo csv
# há uns 30 parâmetros opcionais para read_csv() ...
# 'index_col' usa a primeira coluna como índice
df = pd.read_csv("wine_data.csv", index_col=0)

# mostra a quantidade de linhas e colunas do DataFrame
df.shape

(129971, 14)

In [ ]:
# primeiras 5 linhas (default)
df.head()

#### Escrevendo arquivos

In [8]:
# escrevendo...
animals = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])
animals.to_csv("/home/vmm/estudos-analise-de-dados/estudos-pandas/animals.csv")